In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Property_train.csv')

In [3]:
df = pd.DataFrame(data)

In [4]:
df

,Junk,InteriorsStyle,PriceIndex8,ListDate,Material,PriceIndex9,Agency,AreaIncomeType,EnvRating,PriceIndex7,...,Region,PriceIndex5,SubModel,Facade,State,NormalisedPopulation,BuildYear,RegionType,PropertyAge,PriceIndex2
0,0,6LLJ,14674.0,9/7/2010,UT7W,8270,CAT3,B,missing,13143.0,...,A,9022.0,6E9G,GREEN,MD,42077,2008,A,2,10692.0
1,1,XZ9F,4172.0,1/7/2009,PRN0,3890,CAT2,B,missing,3461.0,...,A,2742.0,FIVQ,SILVER,OK,77258,2002,A,7,3615.0
2,0,QWEV,8210.0,6/23/2010,A9RA,5900,CAT1,B,missing,6922.0,...,A,3768.0,4K0H,SILVER,SC,94514,2004,A,6,5805.0
3,0,MK2K,7309.0,3/19/2009,RRJQ,7460,OTHER,A,missing,6300.0,...,A,5370.0,ZLXY,WHITE,NC,82302,2002,C,7,6444.0
4,0,GK4G,9182.0,3/3/2010,HE5A,6400,OTHER,B,missing,8330.0,...,A,4803.0,FIVQ,SILVER,SC,49176,2007,B,3,6286.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62030,1,DPIW,15110.0,3/31/2010,1PUV,8745,CAT3,missing,missing,13468.0,...,A,10012.0,9D54,WHITE,CA,87562,2006,A,4,11162.0
62031,0,YOC7,9456.0,10/20/2010,RRJQ,5360,OTHER,B,missing,8543.0,...,A,5439.0,E75G,GOLD,TN,80201,2007,B,3,6147.0
62032,1,CNKZ,8730.0,5/19/2009,ZCI3,6670,CAT3,A,missing,7217.0,...,A,6219.0,UA42,MAROON,IN,65983,2005,A,4,7620.0
62033,0,RELA,8546.0,4/30/2009,X7IX,6600,CAT1,A,missing,7316.0,...,A,6311.0,ASW2,SILVER,TX,59780,2006,A,3,7450.0
62034,0,DUFA,12658.0,11/3/2010,IKAF,8700,CAT2,B,missing,12002.0,...,A,8930.0,FIVQ,GOLD,OK,38703,2009,A,1,9196.0

In [5]:
df['EnvRating']

0        missing
1        missing
2        missing
3        missing
4        missing
          ...
62030    missing
62031    missing
62032    missing
62033    missing
62034    missing
Name: EnvRating, Length: 62035, dtype: object

In [14]:
round(df.loc[df['EnvRating']=="missing",'EnvRating'].count()/df['EnvRating'].count()*100)

95

In [20]:
df['month'] = pd.DatetimeIndex(df['ListDate']).month
df['month'] = df['month'].replace({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['month']

0        Sep
1        Jan
2        Jun
3        Mar
4        Mar
        ...
62030    Mar
62031    Oct
62032    May
62033    Apr
62034    Nov
Name: month, Length: 62035, dtype: object

In [22]:
df['month'].groupby(df['month']).count().sort_values(ascending=False)

month
Oct    6098
Feb    5784
Nov    5699
Sep    5503
Mar    5323
Aug    5228
Apr    5052
Jul    5008
Jun    4869
May    4849
Dec    4561
Jan    4061
Name: month, dtype: int64

In [24]:
df.loc[df['AreaIncomeType'] == 'A','Agency'].groupby(df['Agency']).count().sort_values(ascending=False)

Agency
CAT1       10275
CAT2        8318
CAT3        7524
OTHER       4447
missing        1
Name: Agency, dtype: int64

In [36]:
df.loc[df['PropertyAge'] == df['PropertyAge'].max(),'State'].groupby(df['State']).count().sort_values(ascending=False)

State
FL    134
SC     89
TX     84
NC     55
CA     38
PA     20
CO     15
GA     15
VA     15
TN     14
AZ      9
NV      6
OK      6
MD      5
MO      5
AL      3
IN      3
UT      3
WV      2
NJ      2
AR      2
LA      2
OR      1
NM      1
MA      1
IL      1
MS      1
Name: State, dtype: int64

In [32]:
df['PropertyAge'].median()

4.0

In [41]:
df.loc[df['Architecture'] == 'YIK5','NormalisedPopulation'].mean()

73381.30404205926